<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	
	<div class = "container">
		

		<div class = "content-body">
			<h1>Welcome to StartUp Portal</h1>
			<h2>Create something the worlds wants!!</h2>
		</div>
		<form action="page1" method="get">
		<div class="button">
			<button type="submit" class="btn btn-primary"> Login </button>
			<button type="submit" class="btn btn-primary" formaction="registration"> Register </button>
		</div>
	
</form>	</div>	

</body>
</html>