<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/register.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	
	<div class = "container">
		<div class="register-box">
		<div class="col-md-6">
			<h1> Register Your Details on this Page</h1>
			<form action="page1" method="post">
			<!-- <div class="form-group">
				<label>U_ID</label>
				<input type="text" name="text" placeholder="User ID" class="form-control" required>
			</div> -->
			<div class="form-group">
				<label>ROLE_ID</label>
				<input type="text" name="role_id" placeholder="Role ID" class="form-control" required>
			</div>
			<div class="form-group">
				<label>NAME</label>
				<input type="text" name="user_name" placeholder="Enter Your Name" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label>EMAIL ID</label>
				<input type="email" name="email" placeholder="Email" class="form-control" required>
			</div>

			<div class="form-group">
				<label>PASSWORD</label>
				<input type="Password" name="Password" placeholder="Password" class="form-control" required>
			</div>
			<div class="form-group">
				<label>ADDRESS</label>
				<input type="text" name="Address" placeholder="Address" class="form-control" required>
			</div>
			<div class="form-group">
				<label>CONTACT</label>
				<input type="text" name="contact" placeholder="Contact" class="form-control" required>
			</div>
				
				<div class="button">
			<button type="submit" class="btn btn-success"> Submit </button>
			</div>
		</form>
		</div>
	</div>
	</div>
</body>
</html>