<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>welcome</title>
	<link rel="stylesheet" type="text/css" href="/static/welcome.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	
	<div class="container">
		
		<form action="home" method="get">
		<div class="button1">
			<button type="submit" class="btn btn-outline-danger"> LogOut </button>
		</div><br><br><br><br>
		<
		<div class="row">
		<div class="button2"></div>
		<button type="submit" class="btn btn-outline-info btn-lg" formaction="startup.html"> Create Your StartUp</button>
		</div>
	</form>
	</div><br><br>
	<h1>Welcome {{name}}</h1>
</body>
</html>